body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(39, 39, 39);
    margin: 0;
    padding: 0;
    align-items: center;
   padding: 10px 20px;
    /*display: flex;
    justify-content: center;*/
    font-family: Inter;
}

.ad-space {
    height : 90px;
    width : 728px;
    background-color: white;
    
}

.chat-container {
    width: 80%px;
height: 100vh;
flex-shrink: 0;
border-radius: 5px;
background: #D9D9D9;

}

.chat-header {
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    background: #4F98CA;
    padding: 10px 0px;
    border-radius: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h1 {
    font-size: 1.5rem;
    color: #EFFFFB;
    margin-right: 20px;
    
}

.logo {
    margin-left: 20px;
    align-items: center;
}
.chat {
    padding: 10px 20px;
    
}

span {
    font-size: 1rem;
}
.chat-log {
    height: 450px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 15px;
background: #EFFFFB;

flex-shrink: 0;
}

.chat-input {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#user-input {
    padding: 1vw 3vw;
    width: 80%;
    background-color: #EFFFFB;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    border: none;
    border-radius: 5px;
    padding: 1vw 3vw;
    cursor: pointer;

background: #50D890;
transition: 0.9s;
}

#send-button:hover {
    background: #37b57f;
}

#delete-button {
    padding: 0.5vw 0.5vw;
    border: none;
    cursor: pointer;
    color: red;
}

.delete-button {
    padding: 0.5vw 0.5vw;
    border: none;
    cursor: pointer;
    color: red;
}




/* تخصيصات لرسائل الشات بوت */
.message.bot {
    background-color: #ffffff; /* خلفية بيضاء */
    color: black; /* لون نص أزرق */
    text-align: left; /* محاذاة النص إلى اليسار */
    padding: 5px 10px; /* تباعد داخلي للنص */
    border-radius: 5px; /* زوايا مستديرة */
    margin-bottom: 10px; /* تباعد أسفلي */
    letter-spacing: 0.2px;
    font-size: 1rem;
}

/* تخصيصات لرسائل المستخدم */
.message.user {
    background-color: #f1f1f1; /* خلفية رمادية */
    color: #000; /* لون نص أسود */
    text-align: right; /* محاذاة النص إلى اليمين */
    padding: 5px 10px; /* تباعد داخلي للنص */
    border-radius: 5px; /* زوايا مستديرة */
    margin-bottom: 10px; /* تباعد أسفلي */
    font-size: 1.5rem;

}

.message.bot:before {
    content: '...'; /* إظهار النقاط الثلاث قبل عرض النص */
    opacity: 1; /* تأثير الظهور */
    transition: opacity 0.5s ease; /* تأثير طي النص */
}

/* تأثير عرض النص بعد ظهور النقاط */
.message.bot.show-text:before {
    opacity: 0; /* إخفاء النقاط */
 }



 @media (max-width: 768px) {
    .chat-container {
        width: 100%;
        margin-left: 0;
    }

    .chat-log {
        height: 300px;
    }

    #user-input {
        width: 70%;
        font-size: 1rem; /* حجم النص يمكن تكبيره حسب الحاجة */
    }

    #send-button {
        padding: 3vh 5vw;
        font-size: 1rem; /* حجم النص يمكن تكبيره حسب الحاجة */
    }

    /* تكبير حجم النص في رسائل المستخدم والبوت */
    .message {
        font-size: 1rem;
    }

    .message.user {
        font-size: 1.2rem; /* تكبير حجم النص لرسائل المستخدم بشكل أكبر */
    }

    .message.bot {
        font-size: 1.2rem; /* تكبير حجم النص لرسائل البوت بشكل أكبر */
    }
}



